# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python (if you use scripts)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Logs
*.log

# Hashcat session files
*.restore
*.potfile

# Ignore large binaries not meant for Git
*.zip
*.7z
*.rar
